@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* , *::after , *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --c-white: #ffffff;
  --c-dark: #1d1b1b;
}

html{
  font-size: 16px;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--c-dark);
  color: var(--c-white);
}